{%extends "templates/base.html" %}
{% block content %}
	
	<header class="jumbotron jumbotron-2">
        <div class="container title-2">
            <h1>About me</h1>
            <span class="divider center"></span>
        </div>
    </header>

    <!-- <header class="container top-push">
	    <div class="row">
	        <div class="col-xs-12 title">
	            <h2>About me</h2>
	            <span class="divider center"></span>
	        </div>
	    </div>
	</header> -->

	<div class="container">
		<div class="row about">			
	        <div class="col-md-6 col-md-offset-1 about-text">
	        	<!-- <header>
	        		<h2>About me</h2>
	            	<span class="divider center"></span>
	        	</header> -->
	            <p>I'm currently in my first year at the University of Michigan School of Information, specializing in Human Computer Interaction. With a background in Architecture and Interior Design, I have gained an appreciation for the way design can shape the way we live. I have also become increasingly fascinated by the way digital technologies can be designed to shape our interactions with one another and change the way we approach everyday life.</p>

				<p>As a designer, I have found myself in a constant state of learning. I'm curious about life and am always up for taking on new and exciting challenges. Outside of school you can find me rock climbing, checking out local farmers markets, or playing with my two dogs.</p>

				<p>I'd love for you to take a look around my site. If you have any questions, opportunities, or just want to say hi, feel free to contact me and check out my <a target="_blank" href="https://www.linkedin.com/pub/molly-knight/29/58/249">LinkedIn</a> page. Thanks for visiting!</p>
	        </div>
	        <div class="col-md-3 col-md-offset-2 col-md-pull-1 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 img-about">
	    		<img src="static/images/profile.jpg" class="img-responsive" alt="Profile picture"/>
	    	</div>
	    </div>
	</div>


	{% endblock %}