{% extends "templates/base.html" %}

{% block content %} 

<!-- Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill">
                	<img src="static/images/console7.jpg" alt="Gazelle Table" class="tilt-effect"/>
                </div>
                <!-- <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div> -->
            </div>
            <div class="item">
                <div class="fill">
                	<img src="static/images/table7.jpg" alt="Gazelle Table" class="tilt-effect"/>
                </div>
                <!-- <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div> -->
            </div>
            <div class="item">
                <div class="fill">
                	<img src="static/images/misfit7.jpg" alt="Gazelle Table" class="tilt-effect"/>
                </div>
                <!-- <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div> -->
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-12 title">
                    <h2>Just for fun</h2>
                    <span class="divider center"></span>
                    <p class="description">A collection of woodworking projects</p>
                </div>
            </div>
        </div> -->
    </header>

    <!-- Page Content -->
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12 title">
	            <h2>Just for fun</h2>
	            <span class="divider center"></span>
	            <p class="description">A collection of woodworking projects</p>
	        </div>
	    </div>

        <div class="row bottom-push">
            <div class="col-md-12">
                <h5 class="first">Gazelle Table</h5>
            </div>
            <div class="col-md-6">
                <p>
                    This table explores the potential of animalistic form and is marked by its graceful sense of motion. Curved joints support the solid walnut table top, which appears to float above hand-sculpted cherry legs to create a vision of airiness and delicacy. The legs and joints are fitted together using hand-cut through tenons, lending a subtle graphic element and uniting the contrasting materials.   
                </p>
            </div>
            <div class="col-md-6">
                <p>                                  
                    Construction consists of 9 individual pieces. Joinery consists of 4 through tenons and 8 dowels. The table stands 30” tall, 36” wide (including legs) , and 14” deep, and is finished with 3 coats of clear lacquer.
                </p>
            </div>
        </div>

	    <div class="row fun">
            <div class="col-sm-6">
                <img src="static/images/table1.jpg" class="img-responsive" alt="Gazelle Table"/>
            </div>
            <div class="col-sm-6">
                <img src="static/images/table5.jpg" class="img-responsive" alt="Gazelle Table"/>
            </div>
        </div>
        <div class="row fun">
            <div class="col-sm-6">
                <img src="static/images/table3.jpg" class="img-responsive" alt="Gazelle Table"/>
            </div>
            <div class="col-sm-6">
                <img src="static/images/table4.jpg" class="img-responsive" alt="Gazelle Table"/>
            </div>
        </div>

        <div class="row bottom-push">
            <div class="col-md-12">
                <h5 class="first top-push">Misfit Table</h5>
            </div>
            <div class="col-md-6">
                <p>
                    This table exhibits a dual personality combining clean lines with exaggerated curves. The single turned leg, a play off traditional styles, adds humor and whimsy to an otherwise minimalistic piece. From one angle, the table appears to be a simple box, but as the eye travels around the piece it takes on an entirely new form.   
                </p>
            </div>
            <div class="col-md-6">
                <p>                                  
                    The three sides of the solid cherry table are constructed with reinforced miter joints. A short peg carved into the top of the leg fits into a hole in the tabletop, allowing the leg to be removed and interchanged. The table stands 18” tall, 20” wide, and 20” deep, and is finished with 3 coats of clear lacquer.
                </p>
            </div>
        </div>

        <div class="row fun">
                <div class="col-sm-6">
                    <img src="static/images/misfit1.jpg" class="img-responsive" alt="Misfit Table"/>
                </div>
                <div class="col-sm-6">
                    <img src="static/images/misfit2.jpg" class="img-responsive" alt="Misfit Table"/>
                </div>
            </div>
            <div class="row fun">
                <div class="col-sm-6">
                    <img src="static/images/misfit5.jpg" class="img-responsive" alt="Misfit Table"/>
                </div>
                <div class="col-sm-6">
                    <img src="static/images/misfit6.jpg" class="img-responsive" alt="Misfit Table"/>
                </div>
        </div>

    </div>



{%endblock %}