{% extends "templates/base.html" %}

{% block content %} 

    <header>
	    <div class="jumbotron">
	      	<div class="container">
	        	<h3>Hello</h3>
	        	<h1><span>I'm </span> Molly</h1>
	        	<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
	        </div>
	    </div>
	    <div class="container">
        	<div class="row title">
        		<h2>My work</h2>
	        	<span class="divider center"></span>
	        </div>
	    </div>
    </header>


    
	<div class="container">
	    <div class="row">
	    	<div class="col-md-12">
	        	<!-- <h2>My Work</h2>
	        	<span class="divider center"></span> -->
	        	<div class="portfolio-filter">
	                <a href="#all" data-filter="*" class="current">All</a>
	                <a href="#web" data-filter=".web">Web</a>
	                <a href="#mobile" data-filter=".mobile">Mobile</a>
	                <a href="#graphic" data-filter=".graphic">Graphic</a>
	                <a href="#other" data-filter=".other">Other</a>
	        	</div>
	        </div>
	    </div>

        <div class="row panel-body center">
            <div class="portfolio-container">


            	<div class="mobile col-md-4 col-sm-6 portfolio-item portbox">
            		<div class="port-thumb overlay-image view-overlay">  
	                    <img class="img-responsive" src="static/images/thumbnails/smatch.jpg" alt="Smatch App">
	                    <a href="static/images/thumbnails/smatch.jpg" data-title="Smatch" data-lightbox="portfolio">
	                    	<div class="mask team_quote">
								<div class="port-zoom-link">
									<h3>
										Smatch
									</h3>
								</div>
							</div>
						</a>
	            	</div>
	            </div>
	            <div class="mobile col-md-4 col-sm-6 portfolio-item portbox">
            		<div class="port-thumb overlay-image view-overlay">  
	                    <img class="img-responsive" src="static/images/thumbnails/smatch2.jpg" alt="Smatch App">
	                    <a href="static/images/thumbnails/smatch2.jpg" data-title="Smatch" data-lightbox="portfolio">
	                    	<div class="mask team_quote">
								<div class="port-zoom-link">
									<h3>
										Smatch
									</h3>
								</div>
							</div>
						</a>
	            	</div>
	            </div>
	            <div class="web col-md-4 col-sm-6 portfolio-item portbox">
            		<div class="port-thumb overlay-image view-overlay">  
	                    <img class="img-responsive" src="static/images/thumbnails/minecraft.jpg" alt="Social Minecraft">
	                    <a href="static/images/thumbnails/minecraft.jpg" data-title="Social Minecraft" data-lightbox="portfolio">
	                    	<div class="mask team_quote">
								<div class="port-zoom-link">
									<h3>
										Social Minecraft
									</h3>
								</div>
							</div>
						</a>
	            	</div>
	            </div>

	            <div class="other col-md-4 col-sm-6 portfolio-item portbox">
            		<div class="port-thumb overlay-image view-overlay">  
	                    <img class="img-responsive" src="static/images/thumbnails/step.jpg" alt="Responsive Tiles">
	                    <a href="static/images/thumbnails/step.jpg" data-title="Responsive Tiles" data-lightbox="portfolio">
	                    	<div class="mask team_quote">
								<div class="port-zoom-link">
									<h3>
										Responsive Tiles
									</h3>
								</div>
							</div>
						</a>
	            	</div>
	            </div>
	            <div class="other col-md-4 col-sm-6 portfolio-item portbox">
            		<div class="port-thumb overlay-image view-overlay">  
	                    <img class="img-responsive" src="static/images/thumbnails/stretch-warp.jpg" alt="Stretch / Warp">
	                    <a href="static/images/thumbnails/stretch-warp.jpg" data-title="Stretch / Warp" data-lightbox="portfolio">
	                    	<div class="mask team_quote">
								<div class="port-zoom-link">
									<h3>
										Stretch/Warp
									</h3>
								</div>
							</div>
						</a>
	            	</div>
	            </div>
	            <div class="graphic col-md-4 col-sm-6 portfolio-item portbox">
            		<div class="port-thumb overlay-image view-overlay">  
	                    <img class="img-responsive" src="static/images/thumbnails/fabric3.png" alt="Graphic Design">
	                    <a href="static/images/thumbnails/fabric3.png" data-title="Graphic Design" data-lightbox="portfolio">
	                    	<div class="mask team_quote">
								<div class="port-zoom-link">
									<h3>
										Graphic Design
									</h3>
								</div>
							</div>
						</a>
	            	</div>
	            </div>

	            <div class="graphic col-md-4 col-sm-6 portfolio-item portbox">
            		<div class="port-thumb overlay-image view-overlay">  
	                    <img class="img-responsive" src="static/images/thumbnails/fabric.png" alt="Graphic Design">
	                    <a href="static/images/thumbnails/fabric.png" data-title="Graphic Design" data-lightbox="portfolio">
	                    	<div class="mask team_quote">
								<div class="port-zoom-link">
									<h3>
										Graphic Design
									</h3>
								</div>
							</div>
						</a>
	            	</div>
	            </div>
	            <div class="graphic col-md-4 col-sm-6 portfolio-item portbox">
            		<div class="port-thumb overlay-image view-overlay">  
	                    <img class="img-responsive" src="static/images/thumbnails/braddock.jpg" alt="Architecture">
	                    <a href="static/images/thumbnails/braddock.jpg" data-title="Architecture" data-lightbox="portfolio">
	                    	<div class="mask team_quote">
								<div class="port-zoom-link">
									<h3>
										Architecture
									</h3>
								</div>
							</div>
						</a>
	            	</div>
	            </div>
	            <div class="other col-md-4 col-sm-6 portfolio-item portbox">
            		<div class="port-thumb overlay-image view-overlay">  
	                    <img class="img-responsive" src="static/images/thumbnails/olympic-suits.jpg" alt="Synchronized Swimming Suits">
	                    <a href="static/images/thumbnails/olympic-suits.jpg" data-title="Synchronized Swimming Suits" data-lightbox="portfolio">
	                    	<div class="mask team_quote">
								<div class="port-zoom-link">
									<h3>
										Synchronized Swimming Suits
									</h3>
								</div>
							</div>
						</a>
	            	</div>
	            </div>



                
            </div>
        </div>

	</div> <!-- END container div -->






    <!-- Page Content -->
	<!-- <div class="container">
	    <div class="row">
	        <div class="col-lg-12 text-center">
	            <h1>My work</h1>
	            <p>some writing here</p>
	        </div>
	    </div>

	    
        <div class="row">


            <div class="col-md-4 col-sm-6 portfolio-item">
            	<div class="grow">
	                <a href="static/images/banner.jpg" data-title="Caption 1" data-lightbox="portfolio">
	                    <img class="img-responsive hvr-grow" src="http://placehold.it/750x450" alt="">
	                </a>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
            	<div class="grow">
	                <a href="static/images/banner.jpg" data-title="Caption 1" data-lightbox="portfolio">
	                    <img class="img-responsive hvr-grow" src="http://placehold.it/750x450" alt="">
	                </a>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
            	<div class="grow">
	                <a href="static/images/banner.jpg" data-title="Caption 1" data-lightbox="portfolio">
	                    <img class="img-responsive hvr-grow" src="http://placehold.it/750x450" alt="">
	                </a>
            	</div>
            </div>
        


            

            


        </div>
	</div>  --><!-- container -->

{%endblock %}