{% extends "templates/base.html" %}

{% block content %} 

<!-- Image Background Carousel Header -->
    <header class="jumbotron">
      	<div class="container">
        	<h1>Hello, I'm Molly</h1>
        	<div class="row">
	        	<p class="col-md-12">
	        		<!-- My name is Molly Knight and i'm a designer with a passion for crafting delightful experiences -->
	        	</p>
	        </div>
        	<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      	</div>
    </header>


    <!-- Page Content -->
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12 text-center">
	            <h1>My work</h1>
	            <p>some writing here</p>
	        </div>
	    </div>

	    <!-- Projects Row -->
        <div class="row">

            <div class="col-md-4 col-sm-6 portfolio-item grid">
            	<figure class="effect-milo">
	                <a href="static/images/banner.jpg" data-title="Caption 1" data-lightbox="portfolio">
	                    <img class="img-responsive hvr-grow" src="http://placehold.it/750x450" alt="">
	                </a>
		            <figcaption>
						<p>Milo went to the woods. He took a fun ride and never came back.</p>
						<a href="#">View more</a>
					</figcaption>
				</figure>
            </div>


            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="static/images/banner.jpg" data-title="Caption 2" data-lightbox="portfolio">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="static/images/banner.jpg" data-title="Caption 3" data-lightbox="portfolio">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
    <!-- /.row -->




    <!-- Projects Row -->
        <div class="row">

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="static/images/banner.jpg" data-title="Caption 1" data-lightbox="portfolio">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="static/images/banner.jpg" data-title="Caption 2" data-lightbox="portfolio">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="static/images/banner.jpg" data-title="Caption 3" data-lightbox="portfolio">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
    <!-- /.row -->
    <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="static/images/banner.jpg" data-title="Caption 1" data-lightbox="portfolio">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="static/images/banner.jpg" data-title="Caption 2" data-lightbox="portfolio">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="static/images/banner.jpg" data-title="Caption 3" data-lightbox="portfolio">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
    <!-- /.row -->
	</div> <!-- container -->

{%endblock %}